<div class="row">
    <div class="col-md-12 bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand p-2 ms-3" href="/">
                <img src="https://img.freepik.com/vetores-premium/etiqueta-da-linha-de-clinica-dentaria-icone-do-dentista-logotipo-da-odontologia-estomatologia-conceito-de-cuidados-com-os-dentes-vetor-em-fundo-isolado-eps-10_399089-2404.jpg?w=740" alt="Logo" width="60" height="40" class="d-inline-block align-text-top"> 
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/cad_paciente">Cadastro Paciente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/paciente">Pacientes</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/cad_dentista">Cadastro Dentista</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dentista">Dentistas</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/cad_procedimento">Cadastro Procedimentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/procedimento">Procedimentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cad_agendamento">Cadastro Agendamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/agendamento">Agendamentos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
 </div>