<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Listagem Paciente</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script>
		function deletaPaciente(pacienteId){
			if(confirm('Confirme a ação')){
				fetch(`/paciente/${pacienteId}`, {
					method: "DELETE"
				})
				.then(response => {
					if(response.ok){
						alert("Paciente removido!");
						location.reload();
					}
				})
			}
		}
	</script>
</head>

<body>
	<%- include('partials/header') %>
	<h1>Pagina de Pacientes</h1>
	<ul>
		<% obj_pacientes.forEach(paciente => {  %>
			<li>
				Nome: <%= paciente.nome %><br> 
				CPF: <%= paciente.cpf %> <br> 
				<a href="#remove" onclick="deletaPaciente(<%= paciente.id %>); return false;"><button class="btn btn-danger">Excluir</button></a>
				<br>
			</li>
		<% }) %>
	</ul>
	
</body>
</html>